<div class="admin">
	<div class="space30">&nbsp;</div>
	<div class="container-fluid">
		<h3 align="center">Bảng Điều Khiển</h3>
		<div class="space60">&nbsp;</div>
		<div class="row">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-4">
				<a href="/admin/quanlygianhang">
					<div class="itemmanager">
						<button value = "Quản lý gian hàng" align="center">Quản lý gian hàng</button>
					</div>
				</a>
			</div>
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-4">
				<a href="/admin/thongkebanhang">
					<div class="itemmanager">
						<button value = "Thống kê bán hàng" align="right">Thống kê bán hàng</button>
					</div>
				</a>
			</div>
			<div class="col-md-1">&nbsp;</div>
		</div>
		<div class="space30">&nbsp;</div>
		<div class="row">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-4">
				<a href="/admin/quanlydonhang">
					<div class="itemmanager">
						<button value = "Quản lý đơn hàng" align="center">Quản lý đơn hàng</button>
					</div>
				</a>
			</div>
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-4">
				<a href="/admin/thongkekhachhang">
					<div class="itemmanager">
						<button value = "Thống kê khách hàng" align="center">Thống kê khách hàng</button>
					</div>
				</a>
			</div>
			<div class="col-md-1">&nbsp;</div>
		</div>
	</div>
</div>
<link href="../../boostrap-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="../../boostrap-admin/css/sb-admin.css" rel="stylesheet">