<div class="space30">&nbsp;</div>
<div class="container-fluid">
	<h3 align="center">Chi tiết khách hàng<a href="/admin/quanlygianhang" style="float:left; font-size: 14px; border: 1px solid #e1e1e1; padding-right: 5px; height: 35px; color: #000"><i class="fa fa-angle-left" style="font-size: 25px; color: #00cc6a"></i>Quay lại</a></h3>
	<div class="space20">&nbsp;</div>
	<div class="card mb-3">
		<div class="card-header">
		  <i class="fas fa-table"></i>
			Khách Hàng : <%-tenkh%></div>
		<div class="card-body">
		  <div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			  <thead>
				<tr>
				  <th>Ngày</th>
				  <th>Thông Tin Hóa Đơn</th>		
				  <th>Tổng Tiền</th>                
				</tr>
			  </thead>
			  <tfoot>
				<tr>
					<th>Ngày</th>
				  <th>Thông Tin Hóa Đơn</th>		
				  <th>Tổng Tiền</th>            
				</tr>
			  </tfoot>
			  <tbody>    
				<%-danhsachhoahonKH%>
				
			  <!--<tr>
				  <td>Donna Snider</td>
				  <td>Customer Support</td>
				  <td>New York</td>
				  <td>27</td>
				  <td>2011/01/25</td>
				  <td>$112,000</td>
				</tr>
				-->  
			  </tbody>
			</table>
		  </div>
		</div>
	  </div>
</div>
  <script src="../../boostrap-admin/vendor/jquery/jquery.min.js"></script>
  <script src="../../boostrap-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../boostrap-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="../../boostrap-admin/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../../boostrap-admin/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../boostrap-admin/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="../../boostrap-admin/js/demo/datatables-demo.js"></script>
   <!-- Custom fonts for this template-->
   <link href="../../boostrap-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

   <!-- Page level plugin CSS-->
   <link href="../../boostrap-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
 
   <!-- Custom styles for this template-->
   <link href="../../boostrap-admin/css/sb-admin.css" rel="stylesheet">